@import "../../styles/variables";

.marketView__header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.marketView__image-wrapper {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.marketView__logo {
    width: 100%;
}

.marketView__heading {
    color: $purpleTextColor;
    font-size: 24px;
    font-weight: 500;
}

.marketView__groups {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0;
    flex-wrap: wrap;
}

@media only screen and (max-width: 1200px) { 

    .marketView__groups {
        justify-content: flex-start;
        margin: 20px;
    }
}

@media only screen and (max-width: 700px) { 

    .marketView__groups {
        justify-content: space-between;
    }

    .marketView__heading {
        font-size: 22px;
    }
}

@media only screen and (max-width: 600px) { 

    .marketView__groups {
        justify-content: center;
    }

    .marketView__heading {
        font-size: 14px;
    }
}


