.marketView__header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.marketView__logo {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.marketView__heading {
    color: #d251da;
}

.marketView__groups {
    display: flex;
    justify-content: space-around;
    margin: 0;
    flex-wrap: wrap;
}


