$mainBackgroundColor: #454159;
$mainTextColor: #ffffff;
$blueTextColor: #00bfff;
$purpleTextColor: #d251da;
$cardBackgroundColor: #503f5e;
$currencyBackgroundColor: #231E39;
$mainShadow: rgba(0, 0, 0, 0.5);
$hoverShadow:  rgba(0, 0, 0, 0.075);