@import "../../styles/variables";

.loading {
    display: inline-block;
    margin-top: 10vh;

    &:after {
        content: " ";
        display: block;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        border: 6px solid $blueTextColor;
        border-color:$blueTextColor transparent $blueTextColor transparent;
        animation: loading 1.2s linear infinite;
    }
}

@keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
  